.container {
    display: flex;
    height: 70vh;
    border: 1px solid blue ;
    align-items: center;
    flex-wrap: wrap;
    background-color: pink;

}
.item {
    background-color: lightgreen;
    border: 1px solid black;
    height: 150px;
    width: 200px;
}

.item2 {
    order: 3;
    flex-shrink: 2;
}
.item3 {
    order: 1;
    flex-grow: 4;
}